# {{ .addon.name }}

[![Version](https://img.shields.io/badge/version-{{ .addon.version }}-blue)]({{ .repo.url }}/tree/{{ .addon.slug }}-{{ .addon.version }})
{{- range .addon.architectures }}
[![{{ . }}](https://img.shields.io/badge/{{ . }}-yes-green)]({{ $.repo.url }})
{{- end }}
[![Upstream](https://img.shields.io/badge/upstream-{{ .addon.upstream_version }}-informational)]({{ .addon.upstream_url }})
[![Outdated](https://img.shields.io/badge/outdated-{{ if .addon.outdated }}yes-critical{{ else }}no-success{{ end }})]({{ .repo.url }})

{{ .addon.description }}

## Resources

| Resource | Link |
|----------|------|
| **Add-on Documentation** | [DOCS.md](DOCS.md) |
| **Changelog** | [CHANGELOG.md](CHANGELOG.md) |
| **Upstream Project** | [{{ .addon.upstream_name }} on GitHub]({{ .addon.upstream_url }}) |
| **Report Issues** | [GitHub Issues]({{ .repo.url }}/issues) |

## License

This add-on is provided as-is. The upstream {{ .addon.upstream_name }} project may have its own license - refer to the [upstream repository]({{ .addon.upstream_url }}) for details.
