{{- $repo := .Env.REPOSITORY -}}
{{- $repo_url := .Env.REPOSITORY_URL -}}
{{- $author_name := .Env.AUTHOR_NAME | default "rig" -}}
{{- $addons := .Env.ADDONS_DATA | jsonArray -}}
# Home Assistant Add-ons

[![Add Repository with my.home-assistant.io][add-repository-image]][add-repository-button]

[add-repository-image]: https://my.home-assistant.io/badges/supervisor_add_addon_repository.svg
[add-repository-button]: https://my.home-assistant.io/redirect/supervisor_add_addon_repository/?repository_url={{ $repo_url }}
[ha-addons]: https://github.com/{{ $repo }}

## About

Home Assistant allows anyone to create add-on repositories to share their
add-ons for Home Assistant easily. This repository contains my personal, experimental
but free to use [Home Assistant Add-ons][ha-addons].

## Usage

Adding this add-ons repository to your Home Assistant instance is pretty
straightforward. In the Home Assistant add-on store, a possibility to
add a repository is provided.

Click on the above button or follow the steps below:

1. Navigate in your Home Assistant frontend to **Supervisor -> Add-on Store**
1. Add this new repository by URL (`{{ $repo_url }}`)
1. Find the add-on that you want to use and click it
1. Click on the "INSTALL" button

## Available Add-ons

{{- range $addons }}
### [{{ .name }}](./{{ .slug }}/)
App for [{{ .name }} project]({{ .project }}).

[![Version](https://img.shields.io/badge/app%20version-{{ .version }}-blue)](https://github.com/{{ $repo }}/tree/main/{{ .slug }})
{{- range .arch }}
&nbsp; [![{{ . }}](https://img.shields.io/badge/platform-{{ . }}-informational)]()
{{- end }}

{{ .description }}

{{- end }}
