---
name: "Cleanuparr"
version: "0.1.3"
slug: "cleanuparr"
description: "Automated cleanup for Sonarr, Radarr, Lidarr, Readarr, and Whisparr downloads. Remove stalled, slow, failed imports, and malware torrents."
arch:
  - aarch64
  - amd64
url: https://github.com/Cleanuparr/Cleanuparr
init: false
ports:
  11011/tcp: null
ports_description:
  11011/tcp: Web interface
map:
  - addon_config:rw
  - share:rw
options:
  log_level: info
schema:
  log_level: list(trace|debug|info|notice|warning|error|fatal)
