---
name: Deployer
# yamllint disable-line rule:truthy

on:
  workflow_dispatch:
    inputs:
      addon:
        description: Addon-Name
        required: true
        type: choice
        options:
          - cleanuparr
          - huntarr
          - profilarr
          - romm
  workflow_call:
    inputs:
      addon:
        description: Addon-Name
        required: true
        type: string
concurrency:
  group: ${{ github.workflow }}-${{ inputs.addon }}
  cancel-in-progress: true
jobs:
  init:
    runs-on: ubuntu-latest
    name: ⏳ Prepare ${{ inputs.addon }} Release
    timeout-minutes: 15
    outputs:
      release_name: ${{ steps.release_notes.outputs.name }}
      release_version: ${{ steps.values.outputs.release_version }}
      architectures: ${{ steps.info.outputs.architectures }}
      image: ${{ steps.values.outputs.image }}
    steps:
      - name: ⤵️ Check out the repository
        uses: actions/checkout@v4
      - name: "\U0001F680 Find add-on directories"
        id: addons
        uses: home-assistant/actions/helpers/find-addons@master
      - name: ℹ️ Get information
        id: info
        uses: home-assistant/actions/helpers/info@master
        with:
          path: "./${{ inputs.addon }}"
      - name: "\U0001F4DD Run Release Drafter"
        uses: release-drafter/release-drafter@v6
        id: release_notes
        with:
          config-name: "release-drafter-${{ inputs.addon }}.yml"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: "\U0001FA9A Generate Build-Values"
        id: values
        run: |
          date="$(date +"%Y-%m-%dT%H:%M:%SZ")"

          version="${{ steps.release_notes.outputs.tag_name }}"
          version="${version##*-}"

          echo "Add-on: ${{ inputs.addon }} Version: ${version} Date: $date"
          {
            echo "release_date=$date"
            echo "release_version=$version"
            echo "image=$(echo ${{ steps.info.outputs.image }} | cut -d'/' -f3)"
          } >> "$GITHUB_OUTPUT"
      - name: ✍️ Update Config Files
        run: "echo \"\U0001F4E6 Updating version in config.yaml\"\nyq -i '.version = \"${{ steps.values.outputs.release_version }}\"' \"${{ inputs.addon }}/config.yaml\"\nhead \"${{ inputs.addon }}/config.yaml\"\n\necho \"\U0001F381 Adding Docker Labels in config.yaml\"\nyq -i '\n  .labels.\"org.opencontainers.image.title\" = \"Home Assistant Unofficial Add-on: ${{ inputs.addon }}\" |\n  .labels.\"org.opencontainers.image.url\" = \"https://github.com/${{ github.repository }}\" |\n  .labels.\"org.opencontainers.image.source\" = \"https://github.com/${{ github.repository }}/${{ inputs.addon }}\" |\n  .labels.\"org.opencontainers.image.documentation\" = \"https://github.com/${{ github.repository }}/${{ inputs.addon }}/README.md\" |\n  .labels.\"org.opencontainers.image.created\" = \"${{ steps.values.outputs.release_date }}\" |\n  .labels.\"org.opencontainers.image.revision\" = \"${{ github.sha }}\" |\n  .labels.\"org.opencontainers.image.version\" = \"${{ steps.values.outputs.release_version }}\"\n' \"${{ inputs.addon }}/build.yaml\"\ncat \"${{ inputs.addon }}/build.yaml\"\n"
      - name: "\U0001F4DD Update CHANGELOG.md"
        uses: stefanzweifel/changelog-updater-action@v1
        id: update_changelog
        with:
          latest-version: ${{ steps.release_notes.outputs.name }}
          release-notes: ${{ steps.release_notes.outputs.body }}
          path-to-changelog: ${{ inputs.addon }}/CHANGELOG.md
      - name: Tar files
        run: tar -cvf addon.tar ${{ inputs.addon }}
      - name: ⤴️ Upload Release Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-files
          path: addon.tar
  build:
    needs: init
    runs-on: ubuntu-latest
    name: "\U0001F469‍\U0001F4BB Build & Push ${{ matrix.arch }}"
    timeout-minutes: 180
    permissions:
      packages: write
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        arch: ${{ fromJson(needs.init.outputs.architectures) }}
    steps:
      - name: ⤵️ Download Release Artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-files
      - name: Untar artifacts
        run: tar -xvf addon.tar ${{ inputs.addon }} && rm addon.tar
      - name: "\U0001F3D7  Login to GitHub Container Registry"
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: "\U0001F9F1 Build ${{ inputs.addon }} add-on"
        uses: home-assistant/builder@2025.11.0
        with:
          args: |
            --${{ matrix.arch }} \
            --target /data/${{ inputs.addon }} \
            --image "${{ needs.init.outputs.image }}" \
            --docker-hub "ghcr.io/${{ github.repository_owner }}" \
            --addon
  release:
    needs: ["init", "build"]
    runs-on: ubuntu-latest
    name: "\U0001F680 Release ${{ needs.init.outputs.release_name }}"
    timeout-minutes: 15
    permissions:
      contents: write
    steps:
      - name: ⤵️ Check out the repository
        uses: actions/checkout@v4
      - name: ⤵️ Download Release Artifacts
        uses: actions/download-artifact@v4
        with:
          name: release-files
      - name: Untar artifacts
        run: tar -xvf addon.tar ${{ inputs.addon }} && rm addon.tar
      - name: "\U0001F4DD Update README.md"
        uses: ./.github/actions/update-readme
        with:
          addons: ${{ inputs.addon }}
      - name: "\U0001F527 Commit new Addon Config"
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "\U0001F680 Released ${{ needs.init.outputs.release_name }} [skip ci]"
          commit_user_email: actions@github.com
      - name: "\U0001F680 Create Release"
        uses: release-drafter/release-drafter@v6
        with:
          config-name: "release-drafter-${{ inputs.addon }}.yml"
          publish: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
