name: Repository Maintenance

on:
  schedule:
    - cron: "0 0 * * *" # Everday at midnight
  workflow_dispatch:

permissions:
    contents: write
    packages: write

jobs:
  remove-stale-branches:
    name: Remove Stale Branches
    runs-on: ubuntu-latest
    steps:
      - uses: fpicalausa/remove-stale-branches@v2.4.0
        with:
          dry-run: true # Check out the console output before setting this to false
          ignore-branches-with-open-prs: true
          days-before-branch-stale: 30
  clean-packages:
      name: Clean packages
      runs-on: ubuntu-latest
      steps:
        - uses: dataaxiom/ghcr-cleanup-action@v1
          with:
            dry-run: true
            delete-untagged: true
            delete-ghost-images: true
            delete-partial-images: true
            delete-orphaned-images: true
            expand-packages: true
            packages: ha-addons-*
            token: ${{ secrets.PAT }}